<!DOCTYPE html>
<html>
    <head>
        <title>Tytuły</title>
    </head>
    <body>
        <h1>Tytuły:</h1>
        <table border="1px" cellspacing="0" cellpadding="5px">
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Akcja</th>
            </tr>
            <!-- If list is empty -->
            <% if (titles.length <= 0) { %>
                <tr>
                    <td colspan="3">Brak tytułów</td>
                </tr>
            <% } %>
            <% for (let i = 0; i < titles.length; i++) { %>
                <tr>
                    <td><%= titles[i].title %></td>
                    <td><%= titles[i].author %></td>
                    <td>
                        <form action="/titles/" method="post">
                            <input type="hidden" name="method" value="edit">
                            <input type="hidden" name="id" value="<%=titles[i]._id %>">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/titles/" method="post">
                            <input type="hidden" name="method" value="delete">
                            <input type="hidden" name="id" value="<%=titles[i]._id %>">
                            <input type="submit" value="Delete">
                        </form>

                    </td>
                </tr>
            <% } %>
        </table>
        <br />
        <form action="/titles/" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" placeholder="Title...">
            <label for="author">Author: </label>
            <input type="text" name="author" id="author" placeholder="Author...">
            <input type="submit" value="Submit">
        </form>
        
        <!-- Error from backend -->
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
    </body>
</html>